{{include ('head.twig')}}
{{include ('navigatie.twig')}}
<section class="container">
    <div class="alert alert-success" >Bestelling succesvol doorgevoerd   </div>  
    <a href="bestellingen.php" class="btn-link"> Ga naar besteloverzicht</a>

</section>