 
 <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Bakkerij Frederik</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    
                  
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    
                    {% if login %}
                    <li>
                        <a href="profielpagina.php">{{login.voornaam}} {{login.familienaam}}</a>                       
                    </li>
                    {%endif%}
                      {% if login %} 
                        {%if login.rang == 0%}
                    <li class="page-scroll">
                        <a href="index.php#page-top">Home</a>
                    </li>                   
                  
                    <li class="page-scroll">
                       <a href="index.php#bestel">Bestel</a>
                    </li>
                    {%endif%}
                    <li><a href="bestellingen.php">Bestellingen</a></li>
                                
                  
                     {%if login.rang == 0%}                        
                    <li class="page-scroll">
                        <a href="winkelmandje.php">Winkelmandje</a>
                    </li>                  
                       {%endif%}
                    
                    <li><a href="controlLogin.php?logout=1" class="btn btn-sm">Uitloggen</a></li>
                  {%endif%}
                    
                  
                {% if not login %}
                    <li>
                <form action="controlLogin.php" method="post" class="login col-sm-12" id="login" name="login">                
                <div class="col-xs-5"> 
                    <input type="text" id="email" class="form-control" name="email" value="{{cookie}}" placeholder="email">   
                </div>             
                <div class="col-xs-5">            
                    <input type="password" id="password" class="form-control col-xs-4" name="password" value='' placeholder="wachtwoord">
                </div>
                
                <input type="submit" class="btn btn-large btn-success col-xs-2" value="login" name="login" />
                </form>  
                {%endif%}
                </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->        
          
    </nav>
