<form action="controlRegistreer.php" method="post" name="klantRegistreer">

    <div>
        <span>Email</span>
        <input type="email" id="email" name="email" title="email">
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" title="password">
    </div>          


    <div>
        <label for="voornaam">Voornaam:</label>
        <input type="text" id="voornaam" name="voornaam" title="voornaam">
    </div>

    <div>
        <label for="familienaam">Familienaam:</label>
        <input type="text" id="familienaam" name="familienaam" title="familienaam">
    </div>

    <div>
        <label for="adres">Adres::</label>
        <input type="text" id="adres" name="adres" title="adres">
    </div>

    <div>
        <label for="postcode" >Postcode:</label>
        <input type="text" id="postcode" name="postcode" title="postcode">                                         
    </div>
    <div>
        <label for="gemeente" >Gemeente:</label>
        <input type="text" id="gemeente" name="gemeente" title="gemeente">                                         
    </div>
    <div>

        <input type="submit" value="registreer" name='registreer' />

    </div>
</form>